= content_for(:sidebar) do
  - @channels.each do |channel|
    %li= link_to channel.name, channel

%h1= @channel.name
%hr
= form_tag @channel, :method => :get do
  = text_field_tag :search, params[:search], :placeholder => 'Search', :class => 'search-query'
  = submit_tag 'Search', :class => 'btn'
#messages
  - @messages.each do |message|
    %div.message{:class => "#{cycle 'even', 'odd'}"}
      .row-fluid
        .span2= message.username
        .span6= message.content
        .span1= message.sended_at.to_s(:simple)

= paginate @messages
