<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @message.username %>
</p>

<p>
  <b>Content:</b>
  <%= @message.content %>
</p>

<p>
  <b>Sended at:</b>
  <%= @message.sended_at %>
</p>

<p>
  <b>Channel:</b>
  <%= @message.channel %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
